<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>


</head>
<body>


<!-- Navigation -->
<!--class="footer"-->
<div id="page-container" class="footer" th:fragment="footer" >

    <!-- Footer -->
    <footer id="myFooter" class="container-fluid w-100 py-3" >
        <div  class="container-fluid">
            <div class="row align-items-center">
                <div class="col-sm myCols">
                    <!--<h5>Cinema</h5>-->

                    <h5>Smart Rent</h5>
                    <ul>
                        <li><a th:href="@{/contact}">Contact</a></li>
                    </ul>
                </div>
                <div class="col-sm myCols social-networks">
                    <a href="https://github.com/voinescuvlad12" target="_blank" class="github"><i
                            class="fab fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/vlad-voinescu-7a6178195/" target="_blank" class="LinkedIn"><i
                            class="fab fa-linkedin"></i></a>
                </div>


            </div>
        </div>
        <div class="container">
            <p class="float-right"><a href="#">Back to top</a></p>
            <p>&copy; 2020 Company, Inc. </p>
        </div>
    </footer>

</div>
</body>
</html>